@import '@/assets/scss/index.scss';

.container-card{
    height: 500px;
    width: 400px;
 align-items: center;
 justify-content: center;

    p{
        @include subtitle_bold;
        color: $primary-color;
        text-align: center;
    }
}



.container-card:hover{
   
    cursor: pointer;

   box-shadow: 0px 2px  24px #ccc;
  }